name: Release

on:
  push:
    branches: ["production"]

jobs:
  release:
    strategy:
      matrix:
        include:
          - os: windows-latest
            fyne_os: windows
            ext: msi
          - os: macos-latest
            fyne_os: darwin
            ext: pkg

    runs-on: ${{ matrix.os }}

    defaults:
      run:
        working-directory: src/cmd/app

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-go@v5
        with:
          go-version: "1.22"

      - name: Install Fyne tool
        run: go install fyne.io/tools/cmd/fyne@latest

      - name: Package app
        shell: bash
        run: |
          fyne package \
            -name mirrorBox \
            -icon ../../internal/ui/icons/appicon.png \
            -os ${{ matrix.fyne_os }} \
            ./

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: mirrorBox-${{ matrix.fyne_os }}
          path: ./*.${{ matrix.ext }}

  publish:
    needs: release
    runs-on: ubuntu-latest
    steps:
      - uses: actions/download-artifact@v4

      - uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ github.ref_name }}
          name: mirrorBox ${{ github.ref_name }}
          files: |
            **/*.msi
            **/*.pkg