name: Relase

on:
    push:
        branches: ["production"]

jobs:
    release:
        strategy:
            matrix:
                matrix:
                    os: [windows-latest, macos-latest]
        runs-on: ${{ matrix.os }}
        defaults:
            run:
                working-directory: src/cmd/app

        steps:
            - uses: actions/checkout@v4

            - uses: actions/setup-go@v5
              with:
                  go-version: "1.22"

            - name: Install Fyne
              run: go install fyne.io/fyne/v2/cmd/fyne@latest

            - name: Package app
              run: |
                  # fyne package -name sambaSync -os darwin -icon ../../internal/ui/icons/appicon.png 
                  fyne package \
                    -name sambaSync \
                    -icon ../../internal/app/appicon.png \
                    -os ${{ matrix.os == 'windows-latest' && 'windows' || 'darwin' }} \

            - name: Upload artifact
              uses: actions/upload-artifact@v4
              with:
                  name: sambaSync-${{ runner.os }}
                  path: src/*.*
